# systemd udev rules for Pt. Grey Firefly MV USB
SUBSYSTEM=="usb", ATTR{idVendor}=="1e10", ATTR{idProduct}=="2000", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="1e10", ATTR{idProduct}=="2001", TAG+="uaccess"
